<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/pageCSS.css" href="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet">
    <title>Mean, Variance</title>
  </head>

  <body>
    <header><center><i><font size = "6" face = "verdana" color = "white">
      <h1 style="text-align: center;font-family: 'Philosopher', sans-serif;">REPORT</h1>
    </font></i></center></header>

    <div class="container emp-profile">
      <h1 style="text-align: center;font-family: 'Fredoka One', cursive;">HealLife</h1>
      <p  style="text-align: center;font-family: 'Permanent Marker', cursive;"><strong>HeaLife</strong> is a very basic Project. This can be used in daily life or a Doctor can store or maintain his/her Patients's
        health data in this model and update data time to time according to their health condition.
        <br>
        This is a conclusion report for a <strong>HeaLife</strong> project. There are many users and project contain their health data.
        <!-- <br> -->
        This is very easy and friendly type website to take care daily life health style. Users can contact to
        admin (Doctor) about their health concern.
        <!-- <br> -->
        We are calculating a statical analysis report about their age difference criteria and frequencies for users
        in that difference.

      </p>
      <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Age Interval (in Year)</th>
          <th scope="col">Frequency of users</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">0-10</th>
          <td><%= item1.length %></td>
        </tr>
        <tr>
          <th scope="row">10-20</th>
          <td><%= item2.length %></td>
        </tr>
        <tr>
          <th scope="row">20-30</th>
          <td><%= item3.length %></td>
        </tr>
        <tr>
          <th scope="row">30-40</th>
          <td><%= item4.length %></td>
        </tr>
        <tr>
          <th scope="row">40-50</th>
          <td><%= item5.length %></td>
        </tr>
        <tr>
          <th scope="row">50-60</th>
          <td><%= item6.length %></td>
        </tr>
        <tr>
          <th scope="row">60-70</th>
          <td><%= item7.length %></td>
        </tr>
        <tr>
          <th scope="row">70-80</th>
          <td><%= item8.length %></td>
        </tr>
        <tr>
          <th scope="row">80-90</th>
          <td><%= item9.length %></td>
        </tr>
        <tr>
          <th scope="row">90-100</th>
          <td><%= item10.length %></td>
        </tr>
      </tbody>
    </table>

<br><br>
    <div class="">
      <h2 style="text-align: center;font-family: 'Fredoka One', cursive;">Conclusion :</h2>
      <p style="text-align: center;font-family: 'Permanent Marker', cursive;">From the above data, we calculate Mean, Variance and Standard Deviation(S.D.). </p>
      <p style="text-align: center;font-family: 'Luckiest Guy', cursive;"><strong>Mean : </strong><%= mean %></p>
      <p style="text-align: center;font-family: 'Luckiest Guy', cursive;"><strong>Variance : </strong><%= variance %></p>
      <p style="text-align: center;font-family: 'Luckiest Guy', cursive;"><strong>Standard Deviation(S.D.) : </strong><%= sd %></p>
    </div>

  </div>

  </body>
</html>
