<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
      table {
          border-collapse: collapse;
          border: 1px solid black;
      }

      th,tr {
        border: 1px solid black;
      }

      table.a {
        table-layout: auto;
        width: 100%;
      }
    </style>
    <meta charset="utf-8">
    <title>All Users</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/pageCSS.css" href="text/css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" href="text/css"> -->
    <!-- <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  </head>

  <body>
    <header><center><i><font size = "6" face = "verdana" color = "white"> <%= title + " (" + newListItems.length + ")" %> </font></i></center></header>
    <!-- <p><%= newListItems.length %></p> -->
    <div class="container emp-profile">
          <!-- <h1>hii</h1> -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <form class="" action="/Home1" method="get">
                  <button class="btn btn-primary" type="submit">Back</button>
                </form>
          </div>
          <br>
          <table class="table table-bordered table table-hover">
            <caption>List of users</caption>
            <tr class="text-center">
              <th class="text-info">#</th>
              <th class="text-info">Name</th>
              <th class="text-info">Email ID</th>
              <th class="text-success">More</th>
              <th class="text-danger">Delete Account</th>
            </tr>

            <%  for ( let i=0 ; i<newListItems.length ; i++ ) { %>
            <tr class="text-center">
              <th><%= i+1 %></th>
              <th><%= newListItems[i].f_name + " " + newListItems[i].l_name %></th>
              <th><%= newListItems[i].e_mail %></th>
              <th>
                <form class="" action="/users" method="post">
                  <button class="btn btn-outline-success" type="submit" value="<%= newListItems[i].e_mail %>" name="full">full detail</button>
                </form>
              </th>

              <th>
                <form class="" action="/users" method="post">
                  <input class="form-check-input" type="radio" value="<%= newListItems[i].e_mail %>" name="userID" id="flexRadioDefault1">
                  <button class="btn btn-outline-danger" type="submit"  name="userID">Remove</button>
                </form>
              </th>
            </tr>
            <%  } %>

          </table>

          <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <form class="" action="/Home1" method="get">
                  <button class="btn btn-primary" type="submit">Back</button>
                </form>
          </div> -->

    </div>
  </body>

</html>
